{% extends 'base.html' %} {% block content %}
<main class="app">
  {% include 'sidebar.html' %}
  <section class="container">
    {% include 'topbar.html' %}
    <div class="add-title">
      <h1>Choose a category to get started</h1>
    </div>

    <div id="categories">
      {% for category in categories %} {% if category.id == 1: %}
      <div class="elevator">
        <div class="image">
          <img
            class="icon"
            src="../../assets/icons/category/elevator.svg"
            alt="elevator"
          />
        </div>

        <h3 class="title">{{category.title}}</h3>

        <a
          class="link"
          href="{{url_for('main.create',uname=current_user.username, cname=category.name)}}"
        >
          <img
            class="arrow"
            src="../../assets/icons/arrow-right.svg"
            alt="arrow-right"
          />
        </a>
      </div>
      {% elif category.id == 2: %}
      <div class="word">
        <div class="image">
          <img
            class="icon"
            src="../../assets/icons/category/word.svg"
            alt="word"
          />
        </div>

        <h3 class="title">{{category.title}}</h3>

        <a
          class="link"
          href="{{url_for('main.create',uname=current_user.username, cname=category.name)}}"
        >
          <img
            class="arrow"
            src="../../assets/icons/arrow-right.svg"
            alt="arrow-right"
          />
        </a>
      </div>
      {% elif category.id == 3: %}
      <div class="competitor">
        <div class="image">
          <img
            class="icon"
            src="../../assets/icons/category/competitor.svg"
            alt="competitor"
          />
        </div>

        <h3 class="title">{{category.title}}</h3>

        <a
          class="link"
          href="{{url_for('main.create',uname=current_user.username, cname=category.name)}}"
        >
          <img
            class="arrow"
            src="../../assets/icons/arrow-right.svg"
            alt="arrow-right"
          />
        </a>
      </div>
      {% elif category.id == 4: %}
      <div class="twitter">
        <div class="image">
          <img
            class="icon"
            src="../../assets/icons/category/twitter.svg"
            alt="twitter"
          />
        </div>

        <h3 class="title">{{category.title}}</h3>

        <a
          class="link"
          href="{{url_for('main.create',uname=current_user.username, cname=category.name)}}"
        >
          <img
            class="arrow"
            src="../../assets/icons/arrow-right.svg"
            alt="arrow-right"
          />
        </a>
      </div>
      {% elif category.id == 5: %}
      <div class="question">
        <div class="image">
          <img
            class="icon"
            src="../../assets/icons/category/question.svg"
            alt="question"
          />
        </div>

        <h3 class="title">{{category.title}}</h3>

        <a
          class="link"
          href="{{url_for('main.create',uname=current_user.username, cname=category.name)}}"
        >
          <img
            class="arrow"
            src="../../assets/icons/arrow-right.svg"
            alt="arrow-right"
          />
        </a>
      </div>
      {% elif category.id == 6: %}
      <div class="rhyme">
        <div class="image">
          <img
            class="icon"
            src="../../assets/icons/category/rhyme.svg"
            alt="rhyme"
          />
        </div>

        <h3 class="title">{{category.title}}</h3>

        <a
          class="link"
          href="{{url_for('main.create',uname=current_user.username, cname=category.name)}}"
        >
          <img
            class="arrow"
            src="../../assets/icons/arrow-right.svg"
            alt="arrow-right"
          />
        </a>
      </div>
      {% elif category.id == 7: %}
      <div class="pixar">
        <div class="image">
          <img
            class="icon"
            src="../../assets/icons/category/pixar.svg"
            alt="pixar"
          />
        </div>

        <h3 class="title">{{category.title}}</h3>

        <a
          class="link"
          href="{{url_for('main.create',uname=current_user.username, cname=category.name)}}"
        >
          <img
            class="arrow"
            src="../../assets/icons/arrow-right.svg"
            alt="arrow-right"
          />
        </a>
      </div>
      {% endif %} {% endfor %}
    </div>
  </section>
</main>
{% endblock %}
