{% extends 'base.html' %} {% block content %}
<section class="profile">
  {% if user.first_name %}
  <h1>{{user.first_name}}</h1>
  <h1>{{user.last_name}}</h1>
  {%else%}
  <p class="group">no name available for {{user.username| capitalize}}</p>
  {% endif %}

  <h1>{{user.username}}</h1>
  <h1>{{user.email}}</h1>

  {% if user.bio %}
  <p>{{user.bio}}</p>
  {%else%}
  <p>{{user.username| capitalize}} has no bio</p>
  {% endif %} {% if user.profile_pic_path %}
  <img
    src="{{url_for('static', filename=user.profile_pic_path)}}"
    alt="{{user.username}}"
  />
  {% else %}
  <p>No profile picture available</p>
  {% endif %} {% if user == current_user %}
  <form
    action="{{url_for('main.update_pic',uname=user.username)}}"
    method="post"
    enctype="multipart/form-data"
  >
    <input type="file" name="photo" class="form-control" required />
    <input type="submit" />
  </form>
  {% endif %} {% if user == current_user %}
  <a href="{{url_for('main.update_profile',uname=user.username)}}"
    >Edit profile</a
  >
  {% endif %}
</section>
{% endblock %}
