{% extends 'base.html' %} {% block content %}
<section class="profile">
  <h1>{{user.first_name}}</h1>
  <h1>{{user.last_name}}</h1>
  <h1>{{user.username}}</h1>
  <h1>{{user.email}}</h1>

  {% if user.profile_pic_path %}
  <img
    src="{{url_for('static', filename=user.profile_pic_path)}}"
    alt="{{user.username}}"
  />
  {% else %}
  <p>No profile picture available</p>
  {% endif %} {% if user == current_user %}
  <a href="{{url_for('main.update_profile',uname=user.username)}}"
    >Edit profile</a
  >
  {% endif %}
</section>
{% endblock %}
