{% extends 'base.html' %} {% block content %}
<div class="wrapper">
  <div class="profmage">
    <img
      class="img"
      src="{{url_for('static', filename='images/bg.svg')}}"
      alt=""
    />
  </div>
  <div class="update">
    <h1 class="title">Update Profile</h1>
    <form class="form" method="post">
      {{ update.csrf_token }}
      <div class="container">
        <div class="group">
          <p class="label">{{ update.first_name.label }}</p>
          <p class="input">{{ update.first_name() }}</p>
          {% for error in update.first_name.errors %}
          <li class="error">{{error}}</li>
          {% endfor %}
        </div>
        <div class="group">
          <p class="label">{{ update.last_name.label }}</p>
          <p class="input">{{ update.last_name() }}</p>
          {% for error in update.last_name.errors %}
          <li class="error">{{error}}</li>
          {% endfor %}
        </div>
      </div>
      <div class="group">
        <p class="label">{{ update.bio.label }}</p>
        <p class="input">{{ update.bio() }}</p>
        {% for error in update.bio.errors %}
        <li class="error">{{error}}</li>
        {% endfor %}
      </div>
      <div class="group"><button class="btn">{{update.submit()}}</button></div>
    </form>
  </div>
</div>
{% endblock %}
