<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <h1>Login</h1>
    {% for message in get_flashed_messages() %}
    <p>{{message}}</p>
    {% endfor %}
    <form>
      {{ login.csrf_token }}

      <p>{{ login.email.label }} {{ login.email() }}</p>
      {% for error in login.email.errors %}
      <li>{{error}}</li>
      {% endfor %}

      <p>{{ login.password.label }} {{ login.password() }}</p>
      {% for error in login.password.errors %}
      <li>{{error}}</li>
      {% endfor %}

      <p>{{ login.submit.label }} {{ login.submit() }}</p>
      {% for error in login.submit.errors %}
      <li>{{error}}</li>
      {% endfor %}
    </form>
    <p>
      Dont have an account? <a href="{{url_for('auth.signup')}}">Sign up</a>
    </p>
  </body>
</html>
