{% extends 'base.html' %} {% block content %}
<div class="wrapper">
  <div class="login">
    <h1 class="title">Log In</h1>
    <div class="message">
      {% for message in get_flashed_messages() %}
      <p>{{message}}</p>
      {% endfor %}
    </div>
    <form class="form">
      {{ login.csrf_token }}
      <div class="group">
        <p class="label">{{ login.email.label }}</p>
        <p class="input">{{ login.email() }}</p>
        {% for error in login.email.errors %}
        <li class="error">{{error}}</li>
        {% endfor %}
      </div>

      <div class="group">
        <p class="label">{{ login.password.label }}</p>
        <p class="input">{{ login.password() }}</p>
        {% for error in login.password.errors %}
        <li class="error">{{error}}</li>
        {% endfor %}
      </div>

      <div class="group">
        <button class="btn">{{ login.submit() }}</button>
        {% for error in login.submit.errors %}
        <li class="error">{{error}}</li>
        {% endfor %}
      </div>
    </form>
    <p class="text">
      Dont have an account?
      <a class="link" href="{{url_for('auth.signup')}}">Sign Up</a>
    </p>
  </div>
</div>
{% endblock %}
