@import './base/reset';
@import './base/colors';
@import './base/fonts';

@mixin col {
  display: flex;
  flex-direction: column;
}

@mixin link {
  padding: 1rem 2rem;
  font-family: $plus;
  color: $text-light;
  text-decoration: none;
  border-radius: 0.25rem;
  background-color: $text-dark;
}

.app {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;

  .sidebar {
    @include col;
    top: 0;
    width: 20%;
    z-index: 100;
    height: 100vh;
    padding: 1rem;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    background-color: $dark;

    .nav-brand {
      @include link;
      width: 100%;
    }
    .navbar {
      @include col;
      width: 100%;
      .nav-link {
        @include link;
        margin: 0.5rem 0;
      }
    }
    .nav-cta {
      @include link;
      width: 100%;
    }
  }

  .container {
    @include col;
    width: 80%;
    padding: 1rem;
    overflow: auto;
    color: $text-light;
  }
}
