@import './base/reset';

@import url('https://fonts.googleapis.com/css2?family=Nixie+One&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Questrial&family=Space+Grotesk:wght@300;400;500;600;700&family=Syne:wght@400;500;600;700;800&family=Updock&display=swap');

$font-one: 'Nixie One', cursive;
$font-one: 'Philosopher', sans-serif;
$font-one: 'Questrial', sans-serif;
$font-one: 'Space Grotesk', sans-serif;
$font-one: 'Syne', sans-serif;
$font-one: 'Updock', cursive;
