@import './base/reset';
@import './base/colors';
@import './base/fonts';

@mixin col {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@mixin row {
  display: flex;
  flex-direction: row;
}

@mixin link {
  font-weight: 200;
  font-family: $outfit;
  text-decoration: none;
}

@mixin title {
  font-weight: 500;
  font-size: 2.4rem;
  font-family: $gochi;
  letter-spacing: 0.05rem;
}

@mixin alt-text {
  font-weight: 300;
  font-size: 0.8rem;
  font-family: $quest;
  letter-spacing: 0.05rem;
}

.app {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;

  .sidebar {
    @include col;
    top: 0;
    width: 16%;
    z-index: 100;
    height: 100vh;
    padding: 0.5rem;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    background-color: $dark;

    .nav-brand {
      @include link;
      width: 100%;
      color: $primary;
      font-weight: 500;
      font-family: $gochi;
      font-size: 2.4rem;
      text-transform: uppercase;
      text-align: center;

      &:hover {
        color: $primary;
        border-radius: 0.2rem;
        background-color: $text-dark;
      }
    }
    .navbar {
      @include col;
      width: 100%;
      .nav-link {
        @include row;
        @include link;
        width: 100%;
        margin: 0.2rem 0;
        padding: 0.6rem 0.8rem;
        color: $text-light;

        &:hover {
          color: $primary;
          border-radius: 0.2rem;
          background-color: $text-dark;
        }

        .nav-icon {
          width: 1.2rem;
          height: 1.2rem;
        }
        .nav-text {
          margin-left: 0.5rem;
          font-size: 0.8rem;
        }
      }
    }
    .nav-cta {
      @include row;
      @include link;
      width: 100%;
      color: $text-light;
      padding: 0.6rem 0.8rem;

      &:hover {
        color: $primary;
        border-radius: 0.2rem;
        background-color: $text-dark;
      }

      .nav-icon {
        width: 1.2rem;
        height: 1.2rem;
      }
      .nav-text {
        margin-left: 0.5rem;
        font-size: 0.8rem;
      }
    }
  }

  .container {
    @include col;
    width: 84%;
    padding: 1rem;
    overflow: auto;
    color: $text-light;

    .hero {
      @include row;
      width: 100%;
      height: 18rem;
      align-items: center;
      justify-content: space-between;
      background-color: #3b0086;
      border-radius: 0.25rem;

      .hero-content {
        @include col;
        height: auto;
        padding-left: 3rem;
        align-items: flex-start;

        .hero-title {
          @include title;
          color: $primary;
        }
        .hero-text {
          color: $light;
          margin-bottom: 1.5rem;
          font-weight: 300;
          font-size: 1rem;
          font-family: $quest;
          letter-spacing: 0.05rem;
        }
        .hero-cta {
          @include link;
          color: $bg;
          font-weight: 400;
          padding: 0.5rem 0.8rem;
          border-radius: 0.2rem;
          background-color: $primary;
        }
      }
      .hero-image {
        margin-right: 2rem;
        height: 18rem;
      }
    }
  }
}

.active {
  color: $primary !important;
  border-radius: 0.2rem;
  background-color: $text-dark;
}

.topbar {
  @include row;
  width: 100%;
  height: 3rem;
  align-items: center;
  margin-bottom: 0.5rem;
  justify-content: flex-end;

  .bar-search {
    @include row;
    height: 100%;
    align-items: center;
    background-color: $dark;
    border-radius: 0.2rem 0 0 0.2rem;

    .search {
      height: 100%;
      width: 20rem;
      border: none;
      outline: none;
      color: $primary;
      font-family: $outfit;
      font-weight: 200;
      font-size: 1rem;
      padding: 0.5rem 0.8rem;
      letter-spacing: 0.05rem;
      background: transparent;

      &::placeholder {
        color: $text-light;
      }
    }
    .bar-btn {
      @include link;
      height: 100%;
      border: none;
      padding: 0.5rem 1rem;
      cursor: pointer;
      background-color: $text-400;
      border-radius: 0 0.2rem 0.2rem 0;
      .bar-icon {
        width: 1rem;
        height: 1rem;
      }
    }
  }

  .bar-add {
    @include link;
    @include col;
    height: 100%;
    color: $bg;
    padding: 0.7rem 1rem;
    margin-left: 1rem;
    align-items: center;
    border-radius: 0.2rem;
    justify-content: center;
    background-color: $primary;
    .add-icon {
      width: 1rem;
      height: 1rem;
    }
  }

  .bar-links {
    @include row;
    height: 100%;
    margin-left: 5rem;
    align-items: center;
    .bar-user {
      @include link;
      color: $bg;
      padding: 0.8rem 1rem;
      font-weight: 400;
      font-size: 1.1rem;
      border-radius: 0.2rem;
      letter-spacing: 0.05rem;
      background-color: $primary;
    }
    .bar-logout {
      @include link;
      color: $primary;
      padding: 0.8rem 1rem;
      font-weight: 400;
      font-size: 1rem;
      margin-left: 0.5rem;
      border-radius: 0.2rem;
      background-color: $accent-400;
      letter-spacing: 0.05rem;
    }
    .bar-login {
      @include link;
      color: $primary;
      font-weight: 400;
      font-size: 1rem;
      padding: 0.8rem 1rem;
      margin-left: 0.5rem;
      border-radius: 0.2rem;
      letter-spacing: 0.05rem;
      background-color: $text-dark;
    }
    .bar-signup {
      @include link;
      color: $primary;
      font-weight: 400;
      font-size: 1rem;
      padding: 0.8rem 0.8rem;
      margin-left: 0.5rem;
      border-radius: 0.2rem;
      letter-spacing: 0.05rem;
      background-color: $accent-300;
    }
  }
}

.wrapper {
  width: 100%;
  height: 100vh;
  background: $accent-400;
  display: flex;
  flex-direction: row;

  .back {
    left: 1rem;
    top: 1rem;
    padding: 0.5rem 1rem;
    position: absolute;
    border-radius: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    background: $bg;

    .text {
      color: $primary;
      font-weight: 300;
      font-size: 1.3rem;
      font-family: $quest;
      margin-left: 1rem;
      letter-spacing: 0.05rem;
    }

    .icon {
      height: 1.5rem;
    }
  }

  .info {
    width: 50%;
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
      @include title;
      color: $blue;
    }

    h4 {
      color: $blue-light;
      margin-bottom: 1.5rem;
      font-weight: 300;
      font-size: 1.3rem;
      font-family: $quest;
      letter-spacing: 0.05rem;
      text-align: center;
    }
    div {
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      p {
        color: $light;
        margin-bottom: 1.5rem;
        font-weight: 300;
        font-size: 1rem;
        font-family: $quest;
        letter-spacing: 0.05rem;
      }
    }
  }
  .signup,
  .login,
  .update {
    @include col;
    width: 50%;
    height: 100%;
    padding: 2rem;
    background: $bg;
    justify-content: center;
    .title {
      @include title;
      color: $primary;
      margin-bottom: 0.5rem;
      text-transform: uppercase;
    }
    .message {
      @include alt-text;
      color: $red;
    }
    .text {
      @include alt-text;
      color: $text-light;
      .link {
        @include link;
        color: $primary;
        font-size: 0.8rem;
        letter-spacing: 0.05rem;
      }
    }
    .form {
      width: 80%;
      .container {
        @include row;
        width: 100%;
        display: grid;
        gap: 1rem;
        margin-top: 1rem;
        grid-template-columns: auto auto;

        .group {
          margin-bottom: 0;
          margin-top: 0;
          .label > label {
            @include alt-text;
            padding-bottom: 0.25rem;
          }
          .input > input {
            @include alt-text;
            border: none;
            outline: none;
            color: $primary;
            padding: 0.5rem;
            background: $text-dark;
            border-radius: 0.2rem;

            &::placeholder {
              color: $text-light;
            }
          }
          .error {
            @include alt-text;
            color: $red;
          }
        }
      }
      .group {
        width: 100%;
        margin: 1rem 0;
        align-items: flex-start;
        justify-content: flex-start;

        .label > label {
          @include alt-text;
          color: $text-light;
          font-size: 0.8rem;
          padding-bottom: 0.2rem;
        }
        .input > input {
          @include alt-text;
          font-size: 0.8rem;
          width: 100%;
          border: none;
          outline: none;
          color: $primary;
          padding: 0.7rem;
          border-radius: 0.2rem;
          background: $text-dark;

          &::placeholder {
            color: $text-light;
          }
        }
        .input > textarea {
          @include alt-text;
          font-size: 0.8rem;
          width: 100%;
          height: 11rem;
          border: none;
          outline: none;
          color: $primary;
          padding: 0.7rem;
          border-radius: 0.2rem;
          background: $text-dark;

          &::placeholder {
            color: $text-light;
          }
        }
        .btn {
          width: 100%;
          border: none;
          margin: 0.5rem 0;
          padding: 0.7rem;
          background: $accent-400;
          border-radius: 0.2rem;
          cursor: pointer;

          input {
            @include alt-text;
            border: none;
            outline: none;
            color: $primary;
            cursor: pointer;
            font-size: 1rem;
            background: transparent;
          }
        }
        .error {
          @include alt-text;
          color: $red;
        }
      }
      .remember {
        @include alt-text;
        display: flex;
        align-items: flex-start;
        color: $text-light;

        .label > label {
          font-size: 0.8rem;
          margin-right: 1rem;
        }
        .input > input[type='checkbox'] {
          margin-top: 0.2rem;
          /* Add if not using autoprefixer */
          -webkit-appearance: none;
          appearance: none;
          /* For iOS < 15 to remove gradient background */
          background-color: $text-dark;
          /* Not removed via appearance */
          margin: 0;
          font: inherit;
          color: currentColor;
          width: 1.15em;
          height: 1.15em;
          border: 0.15em solid currentColor;
          border-radius: 0.15em;
          transform: translateY(-0.075em);
          display: grid;
          place-content: center;
        }
        .input > input[type='checkbox']::before {
          content: '';
          width: 0.65em;
          height: 0.65em;
          transform: scale(0);
          transition: 120ms transform ease-in-out;
          box-shadow: inset 1em 1em $primary;
        }
        .input > input[type='checkbox']:checked::before {
          transform: scale(1);
        }
      }
    }
  }
}

@mixin category-card {
  width: 14rem;
  height: 14rem;
  padding: 1rem;
  position: relative;
  border-radius: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@mixin category-image {
  left: 1rem;
  top: 1rem;
  padding: 1rem;
  position: absolute;
  border-radius: 5rem;

  .icon {
    height: 1.5rem;
  }
}

@mixin category-title {
  color: $text-dark;
  font-size: 1.3rem;
  font-family: $gochi;
  text-transform: uppercase;
}

@mixin category-link {
  right: 1rem;
  bottom: 1rem;
  padding: 1rem;
  position: absolute;
  border-radius: 5rem;
  text-decoration: none;
  background-color: $dark;
  cursor: pointer;

  .arrow {
    height: 0.7rem;
  }
}

.elevator {
  @include category-card;
  background-color: $red-light;

  .image {
    @include category-image;
    background-color: $red;
  }

  .title {
    @include category-title;
  }
  .link {
    @include category-link;
  }
}
.word {
  @include category-card;
  background-color: $orange-light;

  .image {
    @include category-image;
    background-color: $orange;
  }

  .title {
    @include category-title;
  }
  .link {
    @include category-link;
  }
}
.competitor {
  @include category-card;
  background-color: $yellow-light;

  .image {
    @include category-image;
    background-color: $yellow;
  }

  .title {
    @include category-title;
  }
  .link {
    @include category-link;
  }
}
.twitter {
  @include category-card;
  background-color: $blue-light;

  .image {
    @include category-image;
    background-color: $blue;
  }

  .title {
    @include category-title;
  }
  .link {
    @include category-link;
  }
}
.question {
  @include category-card;
  background-color: $green-light;

  .image {
    @include category-image;
    background-color: $green;
  }

  .title {
    @include category-title;
  }
  .link {
    @include category-link;
  }
}
.rhyme {
  @include category-card;
  background-color: $indigo-light;

  .image {
    @include category-image;
    background-color: $indigo;
  }

  .title {
    @include category-title;
  }
  .link {
    @include category-link;
  }
}
.pixar {
  @include category-card;
  background-color: $violet-light;

  .image {
    @include category-image;
    background-color: $violet;
  }

  .title {
    @include category-title;
  }
  .link {
    @include category-link;
  }
}

.add-title {
  padding: 3rem;

  h1 {
    @include category-title;
    font-size: 2.4rem;
    color: $primary;
  }
}

#categories {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

@mixin pitch-title {
  color: $violet;
  font-size: 1.1rem;
  font-family: $gochi;
}
@mixin pitch-caption {
  color: $primary;
  font-size: 1.7rem;
  font-family: $outfit;
  letter-spacing: 0.05rem;
  font-weight: 300;
}
@mixin pitch-date {
  color: $text-100;
  font-size: 1rem;
  font-family: $goth;
}
@mixin pitch-text {
  color: $text-light;
  font-size: 1rem;
  font-family: $outfit;
  font-weight: 300;
  letter-spacing: 0.05rem;
}
@mixin pitch-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#pitches {
  .pitch {
    width: 24rem;
    height: auto;
    padding: 1rem;
    border-radius: 0.25rem;
    background-color: $dark;
    .category {
      @include pitch-title;
      padding: 0.5rem 1rem;
      margin-bottom: 1rem;
      background-color: $bg;
      width: fit-content;
      border-radius: 0.2rem;
    }
    .caption {
      @include pitch-caption;
      text-align: center;
    }
    .date {
      @include pitch-date;
      float: right;
      padding: 0.5rem 1rem;
      background-color: $text-dark;
      margin: 1rem 0;
      border-radius: 0.2rem;
    }
    .line {
      width: 100%;
    }
    .footer {
      width: 100%;
      padding: 0.5rem;
      margin-top: 0.5rem;
      @include pitch-row;
      justify-content: space-between;
      .left {
        @include pitch-row;
        gap: 0.7rem;
        .upvote {
          @include pitch-row;
          gap: 0.4rem;
          .count {
            @include pitch-date;
            color: $orange-light;
          }
          .icon {
            height: 1.5rem;
            width: 1.5rem;
          }
        }
        .downvote {
          @include pitch-row;
          gap: 0.4rem;
          .count {
            @include pitch-date;
            color: $red-light;
          }
          .icon {
            height: 1.5rem;
            width: 1.5rem;
          }
        }
        .comment {
          @include pitch-row;
          gap: 0.4rem;
          .count {
            @include pitch-date;
            color: $blue-light;
          }
          .icon {
            height: 1.5rem;
            width: 1.5rem;
          }
        }
      }
      .user {
        @include pitch-row;
        gap: 0.4rem;
        .text {
          @include pitch-text;
        }
        .icon {
          height: 1.5rem;
        }
      }
    }
  }
}

#profile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  .head {
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background-color: $accent-400;
    border-radius: 0.25rem;

    .left {
      display: flex;
      align-items: flex-end;
      .user {
        display: flex;
        padding: 1rem;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        border-radius: 0.2rem;
        background-color: $blue-light;

        .image {
          background-position: center;
          background-size: cover;
          height: 11rem;
          width: 11rem;
          border-radius: 15rem;
        }
        .username {
          @include pitch-date;
          color: $text-300;
        }
        .email {
          @include pitch-date;
          color: $text-400;
        }
        .form {
          margin-top: 1rem;
          font-size: inherit;

          input[type='file' i] {
            appearance: none;
            background-color: initial;
            cursor: default;
            align-items: baseline;
            color: $bg;
            text-overflow: ellipsis;
            font-size: 0.8rem;
            text-align: start !important;
            border: none;
            padding: 0.2rem;
            overflow: hidden !important;
          }

          input[type='submit' i] {
            border: none;
            font-family: $outfit;
            font-size: 0.8rem;
            outline: none;
            color: $bg;
            padding: 0.3rem 0.8rem;
            border-radius: 0.2rem;
          }
        }
      }
      .bio {
        margin-left: 1rem;
        margin-bottom: 2rem;

        h1 {
          font-family: $gochi;
          font-size: 2.4rem;
          color: $primary;
          text-transform: uppercase;
          letter-spacing: 0.05rem;
        }
        p {
          font-family: $outfit;
          font-size: 1.1rem;
          font-weight: 200;
          letter-spacing: 0.05rem;
        }
      }
    }
    .link {
      padding: 0.2rem;

      a {
        @include pitch-date;
        color: $accent-400;
        padding: 0.5rem 1rem;
        text-decoration: none;
        border-radius: 0.2rem;
        background-color: $primary;
      }
    }
  }
}
