{% extends 'base.html' %} {% import 'macros.html' as macro %} {% block content
%}
<main class="app">
  {% include 'sidebar.html' %}
  <section class="container">
    {% include 'topbar.html' %}
    <div class="hero">
      <div class="hero-content">
        <h1 class="hero-title">{{title}}</h1>
        <p class="hero-text"></p>
      </div>
      <img class="hero-image" src="../assets/images/bg.svg" alt="hero" />
    </div>
    <div id="section-title">
      <h3 class="title">Recent Pitches</h3>
    </div>
    {% if elevator %}
    <div id="pitches">{{ macro.get(elevator) }}</div>
    {% else %}
    <p class="msg-text">No recent Pitches available</p>
    {% endif %}
  </section>
</main>
{% endblock %}
