{% extends 'base.html' %} {% import 'macros.html' as macro %} {% block content
%}
<main class="app">
  {% include 'sidebar.html' %}
  <section class="container">
    {% include 'topbar.html' %}
    <div class="hero">
      <div class="hero-content">
        <h1 class="hero-title">{{title}}</h1>
        <p class="hero-text"></p>
      </div>
      <img class="hero-image" src="../assets/images/hero.svg" alt="hero" />
    </div>

    <div id="pitches">{{ macro.get(twitter) }}</div>
  </section>
</main>
{% endblock %}
