@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap'); 
  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/mistari\/app\/assets\/sass\/base\/_reset\.scss}line{font-family:\000034}}
  *, *::before, *::after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px; }

    @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/mistari\/app\/assets\/sass\/base\/_reset\.scss}line{font-family:\0000321}}
    body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
      margin: 0; }

      @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/mistari\/app\/assets\/sass\/base\/_reset\.scss}line{font-family:\0000327}}
      ul[role='list'], ol[role='list'] {
        list-style: none; }

        @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/mistari\/app\/assets\/sass\/base\/_reset\.scss}line{font-family:\0000333}}
        html {
          font-family: 'Work Sans', sans-serif; }

          @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/mistari\/app\/assets\/sass\/base\/_reset\.scss}line{font-family:\0000338}}
          html:focus-within {
            scroll-behavior: smooth; }

            @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/mistari\/app\/assets\/sass\/base\/_reset\.scss}line{font-family:\0000343}}
            body {
              text-rendering: optimizeSpeed;
              line-height: 1.5;
              background-color: #13152a; }

              @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/mistari\/app\/assets\/sass\/base\/_reset\.scss}line{font-family:\0000350}}
              a:not([class]) {
                text-decoration-skip-ink: auto; }

                @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/mistari\/app\/assets\/sass\/base\/_reset\.scss}line{font-family:\0000356}}
                img, picture {
                  max-width: 100%;
                  display: block; }

                  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/mistari\/app\/assets\/sass\/base\/_reset\.scss}line{font-family:\0000365}}
                  input, button, textarea, select {
                    font: inherit; }

                    @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/mistari\/app\/assets\/sass\/base\/_reset\.scss}line{font-family:\0000370}}
                    @media (prefers-reduced-motion: reduce) {
                      @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/mistari\/app\/assets\/sass\/base\/_reset\.scss}line{font-family:\0000370}}
                      html:focus-within {
                        scroll-behavior: auto;   }
                        @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/mistari\/app\/assets\/sass\/base\/_reset\.scss}line{font-family:\0000376}}
                        *, *::before, *::after {
                          animation-duration: 0.01ms !important;
                          animation-iteration-count: 1 !important;
                          transition-duration: 0.01ms !important;
                          scroll-behavior: auto !important;   }
}

  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/mistari\/app\/assets\/sass\/base\/_reset\.scss}line{font-family:\0000387}}
  ::-webkit-scrollbar {
    width: 0.5rem; }

    @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/mistari\/app\/assets\/sass\/base\/_reset\.scss}line{font-family:\0000391}}
    ::-webkit-scrollbar-track {
      background: #13152a; }

      @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/mistari\/app\/assets\/sass\/base\/_reset\.scss}line{font-family:\0000395}}
      ::-webkit-scrollbar-thumb {
        background: #00ffe7; }

        @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/mistari\/app\/assets\/sass\/base\/_reset\.scss}line{font-family:\0000399}}
        ::-webkit-scrollbar-thumb:hover {
          background: #00ffe7; }

          @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/mistari\/app\/assets\/sass\/global\.scss}line{font-family:\0000325}}
          .app {
            width: 100%;
            margin: 0 auto;
            display: flex;
            flex-direction: row; }
            @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/mistari\/app\/assets\/sass\/global\.scss}line{font-family:\0000330}}
            .app .sidebar {
              display: flex;
              align-items: center;
              flex-direction: column;
              top: 0;
              width: 20%;
              z-index: 100;
              height: 100vh;
              padding: 1rem;
              position: sticky;
              align-items: center;
              justify-content: space-between;
              background-color: #191c38; }
              @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/mistari\/app\/assets\/sass\/global\.scss}line{font-family:\0000341}}
              .app .sidebar .nav-brand {
                padding: 1rem 2rem;
                color: #8490c2;
                font-weight: 300;
                font-family: 'Plus Jakarta Sans', sans-serif;
                text-decoration: none;
                letter-spacing: 0.05rem;
                width: 100%; }
                @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/mistari\/app\/assets\/sass\/global\.scss}line{font-family:\0000344}}
                .app .sidebar .nav-brand:hover {
                  border-radius: 0.25rem;
                  background-color: #202346; }
              @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/mistari\/app\/assets\/sass\/global\.scss}line{font-family:\0000350}}
              .app .sidebar .navbar {
                display: flex;
                align-items: center;
                flex-direction: column;
                width: 100%; }
                @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/mistari\/app\/assets\/sass\/global\.scss}line{font-family:\0000352}}
                .app .sidebar .navbar .nav-link {
                  display: flex;
                  flex-direction: row;
                  padding: 1rem 2rem;
                  color: #8490c2;
                  font-weight: 300;
                  font-family: 'Plus Jakarta Sans', sans-serif;
                  text-decoration: none;
                  letter-spacing: 0.05rem;
                  width: 100%;
                  margin: 0.5rem 0; }
                  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/mistari\/app\/assets\/sass\/global\.scss}line{font-family:\0000357}}
                  .app .sidebar .navbar .nav-link:hover {
                    border-radius: 0.25rem;
                    background-color: #202346; }
                    @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/mistari\/app\/assets\/sass\/global\.scss}line{font-family:\0000362}}
                    .app .sidebar .navbar .nav-link .nav-icon {
                      width: 1.5rem;
                      height: 1.5rem; }
                      @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/mistari\/app\/assets\/sass\/global\.scss}line{font-family:\0000366}}
                      .app .sidebar .navbar .nav-link .nav-text {
                        margin-left: 1.5rem; }
              @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/mistari\/app\/assets\/sass\/global\.scss}line{font-family:\0000373}}
              .app .sidebar .nav-cta {
                display: flex;
                flex-direction: row;
                padding: 1rem 2rem;
                color: #8490c2;
                font-weight: 300;
                font-family: 'Plus Jakarta Sans', sans-serif;
                text-decoration: none;
                letter-spacing: 0.05rem;
                width: 100%; }
                @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/mistari\/app\/assets\/sass\/global\.scss}line{font-family:\0000377}}
                .app .sidebar .nav-cta:hover {
                  border-radius: 0.25rem;
                  background-color: #202346; }
                  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/mistari\/app\/assets\/sass\/global\.scss}line{font-family:\0000382}}
                  .app .sidebar .nav-cta .nav-icon {
                    width: 1.5rem;
                    height: 1.5rem; }
                    @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/mistari\/app\/assets\/sass\/global\.scss}line{font-family:\0000386}}
                    .app .sidebar .nav-cta .nav-text {
                      margin-left: 1.5rem; }
            @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/mistari\/app\/assets\/sass\/global\.scss}line{font-family:\0000394}}
            .app .container {
              display: flex;
              align-items: center;
              flex-direction: column;
              width: 80%;
              padding: 1rem;
              overflow: auto;
              color: #8490c2; }
              @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/mistari\/app\/assets\/sass\/global\.scss}line{font-family:\00003100}}
              .app .container .hero {
                display: flex;
                flex-direction: row;
                width: 100%;
                height: 30rem;
                align-items: center;
                justify-content: space-between;
                background-color: #3b0086;
                border-radius: 0.5rem; }
                @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/mistari\/app\/assets\/sass\/global\.scss}line{font-family:\00003108}}
                .app .container .hero .hero-content {
                  display: flex;
                  align-items: center;
                  flex-direction: column;
                  height: auto;
                  padding: 2rem;
                  align-items: flex-start; }
                  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/mistari\/app\/assets\/sass\/global\.scss}line{font-family:\00003113}}
                  .app .container .hero .hero-content .hero-title {
                    color: #00ffe7;
                    font-weight: 500;
                    font-size: 2.4rem;
                    font-family: 'Roboto Slab', serif;
                    letter-spacing: 0.05rem; }
                    @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/mistari\/app\/assets\/sass\/global\.scss}line{font-family:\00003120}}
                    .app .container .hero .hero-content .hero-text {
                      color: #d1f5ff;
                      margin: 1rem 0;
                      font-weight: 400;
                      font-size: 1.3rem;
                      font-family: 'Plus Jakarta Sans', sans-serif;
                      letter-spacing: 0.05rem; }
                      @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/mistari\/app\/assets\/sass\/global\.scss}line{font-family:\00003128}}
                      .app .container .hero .hero-content .hero-cta {
                        padding: 1rem 2rem;
                        color: #8490c2;
                        font-weight: 300;
                        font-family: 'Plus Jakarta Sans', sans-serif;
                        text-decoration: none;
                        letter-spacing: 0.05rem;
                        color: #13152a;
                        font-weight: 500;
                        border-radius: 0.25rem;
                        background-color: #00ffe7; }
                @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/mistari\/app\/assets\/sass\/global\.scss}line{font-family:\00003137}}
                .app .container .hero .hero-image {
                  margin-right: 2rem;
                  height: 30rem; }

  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/devmiano\/builds\/moringa\/mistari\/app\/assets\/sass\/global\.scss}line{font-family:\00003148}}
  .active {
    border-radius: 0.25rem;
    background-color: #202346; }
