$primary: #00ffe7;

$accent-100: #6100e0;
$accent-200: #5000b8;
$accent-300: #4700a3;
$accent-400: #3b0086;

$red: #fb8998;
$orange: #f6ab51;
$yellow: #f5d800;
$green: #7fdc8a;
$blue: #58a3ff;
$indigo: #ff66d8;
$violet: #a157ff;

$red-light: #ffbcc5;
$orange-light: #fed3a0;
$yellow-light: #fff78b;
$green-light: #b9f8c1;
$blue-light: #a2cbff;
$indigo-light: #ffa9fd;
$violet-light: #cba3ff;

$light: #9fa9d0;
$text-light: #8490c2;

$text-dark: #202346;
$dark: #191c38;
$bg: #13152a;
