@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Gochi+Hand&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Questrial&display=swap');

$plus: 'Plus Jakarta Sans', sans-serif;
$roboto: 'Gochi Hand', cursive;
$quest: 'Questrial', sans-serif;
$outfit: 'Outfit', sans-serif;
$goth: 'Didact Gothic', sans-serif;
$gochi: 'Gochi Hand', cursive;
