<div class="pitch">
  <p class="category">Category</p>
  <p class="caption">Pitch Caption</p>
  <p class="date">3 days ago</p>
  <img class="line" src="../assets/icons/pitch/line.svg" alt="line" />
  <div class="footer">
    <div class="left">
      <div class="upvote">
        <img class="icon" src="../assets/icons/pitch/like.svg" alt="like" />
        <p class="count">0</p>
      </div>
      <div class="downvote">
        <img
          class="icon"
          src="../assets/icons/pitch/dislike.svg"
          alt="dislike"
        />
        <p class="count">0</p>
      </div>
      <div class="comment">
        <img
          class="icon"
          src="../assets/icons/pitch/comment.svg"
          alt="comment"
        />
        <p class="count">0</p>
      </div>
    </div>
    <div class="user">
      <p class="text">username</p>
      <img class="icon" src="../assets/icons/pitch/user.svg" alt="user" />
    </div>
  </div>
</div>
