{% extends 'base.html' %} {% import 'macros.html' as macro %} {% block content
%}
<div class="wrapper">
  <a href="{{url_for('main.index')}}" class="back">
    <img
      class="icon"
      src="{{url_for('static', filename='icons/arrow-left.svg')}}"
      alt=""
    />
    <p class="text">back</p>
  </a>

  <div id="pitch-details">
    <div class="pitch">
      <div class="category">
        <h1 class="">{{pitch.category}}</h1>
      </div>
      <h4 class="pitch">{{pitch.caption}}</h4>
      <p class="posted">{{pitch.posted}}</p>
    </div>
    <div class="ft">
      <div class="left">
        <p class="count">{{pitch.upvotes.count()}} likes</p>
        <p class="count">{{pitch.downvotes.count()}} dislikes</p>
        <p class="count">{{pitch.comments.count()}} comments</p>
      </div>
      <p class="text">by: {{pitch.user.username}}</p>
    </div>
    <h3 class="ctitle">Comments</h3>
    <div class="comments">{{macro.getComments(comments)}}</div>
  </div>
  <div class="login">
    <h1 class="title">{{title}}</h1>
    <div class="message">
      {% for message in get_flashed_messages() %}
      <p>{{message}}</p>
      {% endfor %}
    </div>
    <form class="form" method="post">
      {{ form.csrf_token }}
      <div class="group">
        <p class="label">{{ form.caption.label }}</p>
        <p class="input">{{ form.caption() }}</p>
        {% for error in form.caption.errors %}
        <li class="error">{{error}}</li>
        {% endfor %}
      </div>

      <div class="group">
        <button class="btn">{{ form.submit() }}</button>
        {% for error in form.submit.errors %}
        <li class="error">{{error}}</li>
        {% endfor %}
      </div>
    </form>
  </div>
</div>
{% endblock %}
