{% extends 'base.html' %} {% block content %}
<main class="app">
  {% include 'sidebar.html' %}
  <section class="container">
    <div class="hero">
      <div class="hero-content">
        <h1 class="hero-title">Mistari ya Kusisimua</h1>
        <p class="hero-text">An experience like no other</p>
        <a class="hero-cta" href="/">Get started</a>
      </div>
      <img class="hero-image" src="../assets/images/hero.svg" alt="hero" />
    </div>
    <div class="content"></div>
  </section>
</main>
{% endblock %}
