{% extends 'base.html' %} {% import 'macros.html' as macro %} {% block content
%}
<main class="app">
  {% include 'sidebar.html' %}
  <section class="container">
    {% include 'topbar.html' %}
    <div class="hero">
      <div class="hero-content">
        <h1 class="hero-title">Je? Una Mistari?</h1>
        <p class="hero-text">
          Challenge yourself with one of a kind pitch deck for different
          scenarios, while also getting to share your pitch with others.
        </p>
        <a
          class="hero-cta"
          href="{{url_for('main.add',uname=current_user.username)}}"
          >Get started</a
        >
      </div>
      <img class="hero-image" src="../assets/images/hero.svg" alt="hero" />
    </div>
    <div id="section-title">
      <h3 class="title">Recent Pitches</h3>
    </div>
    {% if pitch %}
    <div id="pitches">{{ macro.get(pitch) }}</div>
    {% else %}
    <p class="msg-text">No recent Pitches available</p>
    {% endif %}
  </section>
</main>
{% endblock %}
