{% extends 'base.html' %} {% block content %}
<main class="app">
  <section class="sidebar">
    <a href="/" class="nav-brand">{{title}}</a>
    <nav class="navbar">
      <a href="/elevator" class="nav-link">The Elevator Pitch</a>
      <a href="/one-word" class="nav-link">The One Word Pitch</a>
      <a href="/competitor" class="nav-link">The Competitor Pitch</a>
      <a href="/question" class="nav-link">The Question Pitch</a>
      <a href="/rhyme" class="nav-link">The Rhyme Pitch</a>
      <a href="/pixar" class="nav-link">The Pixar Pitch</a>
    </nav>
    <a href="/profile" class="nav-cta">Profile</a>
  </section>

  <section class="container">
    <div class="hero">
      <h1>{{title}}</h1>
    </div>
    <div class="">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nesciunt
        natus provident eum voluptas eaque, ab, at tempore nihil soluta
        consectetur. Praesentium, impedit sequi! Optio aspernatur tempora iste
        vero veniam. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Voluptatem, atque ut consequuntur magnam fugit, laborum fugiat expedita,
        quasi assumenda ratione minima! Neque temporibus unde quaerat vel,
        molestiae inventore alias commodi.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nesciunt
        natus provident eum voluptas eaque, ab, at tempore nihil soluta
        consectetur. Praesentium, impedit sequi! Optio aspernatur tempora iste
        vero veniam. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Voluptatem, atque ut consequuntur magnam fugit, laborum fugiat expedita,
        quasi assumenda ratione minima! Neque temporibus unde quaerat vel,
        molestiae inventore alias commodi.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nesciunt
        natus provident eum voluptas eaque, ab, at tempore nihil soluta
        consectetur. Praesentium, impedit sequi! Optio aspernatur tempora iste
        vero veniam. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Voluptatem, atque ut consequuntur magnam fugit, laborum fugiat expedita,
        quasi assumenda ratione minima! Neque temporibus unde quaerat vel,
        molestiae inventore alias commodi.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nesciunt
        natus provident eum voluptas eaque, ab, at tempore nihil soluta
        consectetur. Praesentium, impedit sequi! Optio aspernatur tempora iste
        vero veniam. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Voluptatem, atque ut consequuntur magnam fugit, laborum fugiat expedita,
        quasi assumenda ratione minima! Neque temporibus unde quaerat vel,
        molestiae inventore alias commodi.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nesciunt
        natus provident eum voluptas eaque, ab, at tempore nihil soluta
        consectetur. Praesentium, impedit sequi! Optio aspernatur tempora iste
        vero veniam. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Voluptatem, atque ut consequuntur magnam fugit, laborum fugiat expedita,
        quasi assumenda ratione minima! Neque temporibus unde quaerat vel,
        molestiae inventore alias commodi.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nesciunt
        natus provident eum voluptas eaque, ab, at tempore nihil soluta
        consectetur. Praesentium, impedit sequi! Optio aspernatur tempora iste
        vero veniam. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Voluptatem, atque ut consequuntur magnam fugit, laborum fugiat expedita,
        quasi assumenda ratione minima! Neque temporibus unde quaerat vel,
        molestiae inventore alias commodi.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nesciunt
        natus provident eum voluptas eaque, ab, at tempore nihil soluta
        consectetur. Praesentium, impedit sequi! Optio aspernatur tempora iste
        vero veniam. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Voluptatem, atque ut consequuntur magnam fugit, laborum fugiat expedita,
        quasi assumenda ratione minima! Neque temporibus unde quaerat vel,
        molestiae inventore alias commodi.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nesciunt
        natus provident eum voluptas eaque, ab, at tempore nihil soluta
        consectetur. Praesentium, impedit sequi! Optio aspernatur tempora iste
        vero veniam. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Voluptatem, atque ut consequuntur magnam fugit, laborum fugiat expedita,
        quasi assumenda ratione minima! Neque temporibus unde quaerat vel,
        molestiae inventore alias commodi.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nesciunt
        natus provident eum voluptas eaque, ab, at tempore nihil soluta
        consectetur. Praesentium, impedit sequi! Optio aspernatur tempora iste
        vero veniam. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Voluptatem, atque ut consequuntur magnam fugit, laborum fugiat expedita,
        quasi assumenda ratione minima! Neque temporibus unde quaerat vel,
        molestiae inventore alias commodi.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nesciunt
        natus provident eum voluptas eaque, ab, at tempore nihil soluta
        consectetur. Praesentium, impedit sequi! Optio aspernatur tempora iste
        vero veniam. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Voluptatem, atque ut consequuntur magnam fugit, laborum fugiat expedita,
        quasi assumenda ratione minima! Neque temporibus unde quaerat vel,
        molestiae inventore alias commodi.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nesciunt
        natus provident eum voluptas eaque, ab, at tempore nihil soluta
        consectetur. Praesentium, impedit sequi! Optio aspernatur tempora iste
        vero veniam. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Voluptatem, atque ut consequuntur magnam fugit, laborum fugiat expedita,
        quasi assumenda ratione minima! Neque temporibus unde quaerat vel,
        molestiae inventore alias commodi.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nesciunt
        natus provident eum voluptas eaque, ab, at tempore nihil soluta
        consectetur. Praesentium, impedit sequi! Optio aspernatur tempora iste
        vero veniam. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Voluptatem, atque ut consequuntur magnam fugit, laborum fugiat expedita,
        quasi assumenda ratione minima! Neque temporibus unde quaerat vel,
        molestiae inventore alias commodi.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nesciunt
        natus provident eum voluptas eaque, ab, at tempore nihil soluta
        consectetur. Praesentium, impedit sequi! Optio aspernatur tempora iste
        vero veniam. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Voluptatem, atque ut consequuntur magnam fugit, laborum fugiat expedita,
        quasi assumenda ratione minima! Neque temporibus unde quaerat vel,
        molestiae inventore alias commodi.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nesciunt
        natus provident eum voluptas eaque, ab, at tempore nihil soluta
        consectetur. Praesentium, impedit sequi! Optio aspernatur tempora iste
        vero veniam. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Voluptatem, atque ut consequuntur magnam fugit, laborum fugiat expedita,
        quasi assumenda ratione minima! Neque temporibus unde quaerat vel,
        molestiae inventore alias commodi.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nesciunt
        natus provident eum voluptas eaque, ab, at tempore nihil soluta
        consectetur. Praesentium, impedit sequi! Optio aspernatur tempora iste
        vero veniam. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Voluptatem, atque ut consequuntur magnam fugit, laborum fugiat expedita,
        quasi assumenda ratione minima! Neque temporibus unde quaerat vel,
        molestiae inventore alias commodi.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nesciunt
        natus provident eum voluptas eaque, ab, at tempore nihil soluta
        consectetur. Praesentium, impedit sequi! Optio aspernatur tempora iste
        vero veniam. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Voluptatem, atque ut consequuntur magnam fugit, laborum fugiat expedita,
        quasi assumenda ratione minima! Neque temporibus unde quaerat vel,
        molestiae inventore alias commodi.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nesciunt
        natus provident eum voluptas eaque, ab, at tempore nihil soluta
        consectetur. Praesentium, impedit sequi! Optio aspernatur tempora iste
        vero veniam. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Voluptatem, atque ut consequuntur magnam fugit, laborum fugiat expedita,
        quasi assumenda ratione minima! Neque temporibus unde quaerat vel,
        molestiae inventore alias commodi.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nesciunt
        natus provident eum voluptas eaque, ab, at tempore nihil soluta
        consectetur. Praesentium, impedit sequi! Optio aspernatur tempora iste
        vero veniam. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Voluptatem, atque ut consequuntur magnam fugit, laborum fugiat expedita,
        quasi assumenda ratione minima! Neque temporibus unde quaerat vel,
        molestiae inventore alias commodi.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nesciunt
        natus provident eum voluptas eaque, ab, at tempore nihil soluta
        consectetur. Praesentium, impedit sequi! Optio aspernatur tempora iste
        vero veniam. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Voluptatem, atque ut consequuntur magnam fugit, laborum fugiat expedita,
        quasi assumenda ratione minima! Neque temporibus unde quaerat vel,
        molestiae inventore alias commodi.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nesciunt
        natus provident eum voluptas eaque, ab, at tempore nihil soluta
        consectetur. Praesentium, impedit sequi! Optio aspernatur tempora iste
        vero veniam. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Voluptatem, atque ut consequuntur magnam fugit, laborum fugiat expedita,
        quasi assumenda ratione minima! Neque temporibus unde quaerat vel,
        molestiae inventore alias commodi.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nesciunt
        natus provident eum voluptas eaque, ab, at tempore nihil soluta
        consectetur. Praesentium, impedit sequi! Optio aspernatur tempora iste
        vero veniam. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Voluptatem, atque ut consequuntur magnam fugit, laborum fugiat expedita,
        quasi assumenda ratione minima! Neque temporibus unde quaerat vel,
        molestiae inventore alias commodi.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nesciunt
        natus provident eum voluptas eaque, ab, at tempore nihil soluta
        consectetur. Praesentium, impedit sequi! Optio aspernatur tempora iste
        vero veniam. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Voluptatem, atque ut consequuntur magnam fugit, laborum fugiat expedita,
        quasi assumenda ratione minima! Neque temporibus unde quaerat vel,
        molestiae inventore alias commodi.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nesciunt
        natus provident eum voluptas eaque, ab, at tempore nihil soluta
        consectetur. Praesentium, impedit sequi! Optio aspernatur tempora iste
        vero veniam. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Voluptatem, atque ut consequuntur magnam fugit, laborum fugiat expedita,
        quasi assumenda ratione minima! Neque temporibus unde quaerat vel,
        molestiae inventore alias commodi.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nesciunt
        natus provident eum voluptas eaque, ab, at tempore nihil soluta
        consectetur. Praesentium, impedit sequi! Optio aspernatur tempora iste
        vero veniam. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Voluptatem, atque ut consequuntur magnam fugit, laborum fugiat expedita,
        quasi assumenda ratione minima! Neque temporibus unde quaerat vel,
        molestiae inventore alias commodi.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nesciunt
        natus provident eum voluptas eaque, ab, at tempore nihil soluta
        consectetur. Praesentium, impedit sequi! Optio aspernatur tempora iste
        vero veniam. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Voluptatem, atque ut consequuntur magnam fugit, laborum fugiat expedita,
        quasi assumenda ratione minima! Neque temporibus unde quaerat vel,
        molestiae inventore alias commodi.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nesciunt
        natus provident eum voluptas eaque, ab, at tempore nihil soluta
        consectetur. Praesentium, impedit sequi! Optio aspernatur tempora iste
        vero veniam. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Voluptatem, atque ut consequuntur magnam fugit, laborum fugiat expedita,
        quasi assumenda ratione minima! Neque temporibus unde quaerat vel,
        molestiae inventore alias commodi.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nesciunt
        natus provident eum voluptas eaque, ab, at tempore nihil soluta
        consectetur. Praesentium, impedit sequi! Optio aspernatur tempora iste
        vero veniam. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Voluptatem, atque ut consequuntur magnam fugit, laborum fugiat expedita,
        quasi assumenda ratione minima! Neque temporibus unde quaerat vel,
        molestiae inventore alias commodi.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nesciunt
        natus provident eum voluptas eaque, ab, at tempore nihil soluta
        consectetur. Praesentium, impedit sequi! Optio aspernatur tempora iste
        vero veniam. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Voluptatem, atque ut consequuntur magnam fugit, laborum fugiat expedita,
        quasi assumenda ratione minima! Neque temporibus unde quaerat vel,
        molestiae inventore alias commodi.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nesciunt
        natus provident eum voluptas eaque, ab, at tempore nihil soluta
        consectetur. Praesentium, impedit sequi! Optio aspernatur tempora iste
        vero veniam. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Voluptatem, atque ut consequuntur magnam fugit, laborum fugiat expedita,
        quasi assumenda ratione minima! Neque temporibus unde quaerat vel,
        molestiae inventore alias commodi.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nesciunt
        natus provident eum voluptas eaque, ab, at tempore nihil soluta
        consectetur. Praesentium, impedit sequi! Optio aspernatur tempora iste
        vero veniam. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Voluptatem, atque ut consequuntur magnam fugit, laborum fugiat expedita,
        quasi assumenda ratione minima! Neque temporibus unde quaerat vel,
        molestiae inventore alias commodi.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nesciunt
        natus provident eum voluptas eaque, ab, at tempore nihil soluta
        consectetur. Praesentium, impedit sequi! Optio aspernatur tempora iste
        vero veniam. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Voluptatem, atque ut consequuntur magnam fugit, laborum fugiat expedita,
        quasi assumenda ratione minima! Neque temporibus unde quaerat vel,
        molestiae inventore alias commodi.
      </p>
    </div>
  </section>
</main>
{% endblock %}
