<section class="sidebar">
  <a href="/" class="nav-brand">mistari</a>
  <nav class="navbar">
    <a href="/elevator" class="nav-link">
      <img
        class="nav-icon"
        src="{{url_for('static', filename='icons/elevator.svg')}}"
        alt=""
      />
      <p class="nav-text">The Elevator Pitch</p>
    </a>
    <a href="/one-word" class="nav-link">
      <img
        class="nav-icon"
        src="{{url_for('static', filename='icons/word.svg')}}"
        alt=""
      />
      <p class="nav-text">The One Word Pitch</p></a
    >
    <a href="/competitor" class="nav-link">
      <img
        class="nav-icon"
        src="{{url_for('static', filename='icons/competitor.svg')}}"
        alt=""
      />
      <p class="nav-text">The Competitor Pitch</p></a
    >
    <a href="/twitter" class="nav-link">
      <img
        class="nav-icon"
        src="{{url_for('static', filename='icons/twitter.svg')}}"
        alt=""
      />
      <p class="nav-text">The Twitter Pitch</p></a
    >
    <a href="/question" class="nav-link">
      <img
        class="nav-icon"
        src="{{url_for('static', filename='icons/question.svg')}}"
        alt=""
      />
      <p class="nav-text">The Question Pitch</p></a
    >

    <a href="/rhyme" class="nav-link">
      <img
        class="nav-icon"
        src="{{url_for('static', filename='icons/competitor.svg')}}"
        alt=""
      />
      <p class="nav-text">The Rhyme Pitch</p></a
    >
    <a href="/pixar" class="nav-link">
      <img
        class="nav-icon"
        src="{{url_for('static', filename='icons/pixar.svg')}}"
        alt=""
      />
      <p class="nav-text">The Pixar Pitch</p></a
    >
  </nav>
  {% if current_user.is_authenticated %}
  <a
    class="nav-cta active"
    href="{{url_for('main.profile',uname=current_user.username)}}"
    ><img
      class="nav-icon"
      src="{{url_for('static', filename='icons/user.svg')}}"
      alt=""
    />
    <p class="nav-text">Profile</p></a
  >
  {% else %}
  <a class="nav-cta active" href="{{url_for('auth.signup')}}">Sign up</a>
  {% endif %}
</section>
