<nav class="topbar">
  <form class="bar-search">
    <input
      type="search"
      name="search"
      id="search"
      class="search"
      placeholder="Search for pitches..."
      autocomplete="on"
    />
    <button class="bar-btn" type="submit">
      <img class="bar-icon" src="../assets/icons/search.svg" alt="search" />
    </button>
  </form>
  <a class="bar-add" href="/add">
    <img class="add-icon" src="../assets/icons/plus.svg" alt="plus" />
  </a>
  <div class="bar-links">
    {% if current_user.is_authenticated %}
    <a
      class="bar-user"
      href="{{url_for('main.profile',uname=current_user.username)}}"
      >{{current_user.username}}</a
    >
    <a class="bar-logout" href="{{url_for('auth.logout')}}">Logout</a>
    {% else %}
    <a class="bar-login" href="{{url_for('auth.login')}}">Login</a>
    <a class="bar-signup" href="{{url_for('auth.signup')}}">Sign up</a>
    {% endif %}
  </div>
</nav>
